apiVersion: v2
name: outline
description: A Helm chart for https://github.com/outline/outline
type: application
version: 0.2.0
appVersion: version-0.54.0
maintainers:
  - name: Michele Zuccala
    email: michele@zuccala.com
sources:
  - https://github.com/zuc/helm-charts
